* {box-sizing: border-box;}

nav {
    height: 80px;
}

body {
    background-color: #ddd;
    position: relative;
}

img {
    display: block;
    width: 150px;
}

footer {
    background-color: #666;
    border-top: 6px solid steelblue;
    padding: 20px 0px 10px 0px;
    text-align: center;
    font-size: 0.8em;
    color: white;
    position:fixed; 
    width: 100%;
    bottom:0;
}

li {
    padding: 12px 0 12px 0;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    max-width: 960px;
    background-color: white;
}

.container-fluid {
    max-width: 960px;
    padding: 0;
}

.pageTitle {
    color: steelblue;
    font-size: x-large;
}

.img-thumbnail {
    width: 200px;
}

.paddingSpace {
    padding: 0 20px 10px 20px;
}

.navbar-default {
    border-bottom: 1px solid #999;
} 

#nameBlock {
    padding: 6px 22px 9px 22px;
    background-color: steelblue;
    color: white;
}
